%h1= t('contact_us')

%figure#location-gmap
  %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=av+manzanillo+607+colonia+oriental+colima+colima+28040&aq=&sll=37.0625,-95.677068&sspn=44.60973,79.013672&t=h&ie=UTF8&hq=&hnear=Libramiento+General+Marcelino+Garc%C3%ADa+Barrag%C3%A1n+(Av.+Manzanillo)+607,+Oriental,+Colima,+Mexico&ll=19.24475,-103.698045&spn=0.003282,0.004823&z=14&output=embed", width: "425"}
  %br/
  %small
    %a{href: "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=av+manzanillo+607+colonia+oriental+colima+colima+28040&aq=&sll=37.0625,-95.677068&sspn=44.60973,79.013672&t=h&ie=UTF8&hq=&hnear=Libramiento+General+Marcelino+Garc%C3%ADa+Barrag%C3%A1n+(Av.+Manzanillo)+607,+Oriental,+Colima,+Mexico&ll=19.24475,-103.698045&spn=0.003282,0.004823&z=14", style: "color:#0000FF;text-align:left"} Ver mapa en grande

%p
  %strong
    Dirección:
  Av. Manzanillo 607 Colonia Oriental Colima, Col. 28040
%p
  %strong
    Oficina:
  6902813 / 
  %strong
    Nextel: 
  1631274 / 
  %strong
    ID: 
  62*14*36453

