%h1= t('contact_us')

%p
  %strong
    Dirección:
  Av. Manzanillo 607 Colonia Oriental Colima, Col. 28040
%p
  %strong
    Oficina:
  6902813 / 
  %strong
    Nextel: 
  1631274 / 
  %strong
    ID: 
  62*14*36453

