%ul.services-list
  %li Compra y Venta de casas y terrenos
  %li Renta y Administracion de vivienda
  %li Construccion de vivienda
  %li Credito Infonavit o Fovissste
  %li Avaluos Comerciales
  %li Prestamos prendarios de inmediato

:coffee
  $('.carousel').carousel
    interval: 3000
