#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{alt: "Foto no. 1", src: "https://scontent-a-dfw.xx.fbcdn.net/hphotos-frc3/1209050_1398597653699324_1798336054_n.jpg", style: 'height: 330px;'}/
      .carousel-caption
        %h1 Foto no. 1
    .item
      %img{alt: "Foto no. 2", src: "https://scontent-b-dfw.xx.fbcdn.net/hphotos-prn1/556474_1427939847431771_644115481_n.jpg", style: 'height: 330px;'}/
      .carousel-caption
        %h1 Foto no. 2
    .item
      %img{alt: "Foto no. 3", src: "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/1157431_1403194006573022_1381312873_n.jpg", style: 'height: 330px;'}/
      .carousel-caption
        %h1 Foto no. 3
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right

%ul.services-list
  %li Compra y Venta de casas y terrenos
  %li Renta y Administracion de vivienda
  %li Construccion de vivienda
  %li Credito Infonavit o Fovissste
  %li Avaluos Comerciales
  %li Prestamos prendarios de inmediato

:coffee
  $('.carousel').carousel
    interval: 3000
