%figure#location-gmap
  %iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.8641772487726!2d-103.69804499999996!3d19.244750299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255a9c771f5927%3A0xf212f66d2147c2c2!2sLibramiento+General+Marcelino+Garc%C3%ADa+Barrag%C3%A1n+(Av.+Manzanillo)+607%2C+Oriental%2C+Colima%2C+COL%2C+Mexico!5e0!3m2!1sen!2s!4v1390686976212", style: "border:0", width: "600"}
