@import 'variables';

html, body, #layout, #layout .row:first-child,  #main{
  min-height: 100%;
}

body{
  padding-top: 50px;
}

#layout{
  font-family: Shift, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 500px;
  padding-top: 20px;
}

.services-list{
  margin: 40px 0;
}

input{
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
}
input[type='text']{
  padding: 0 15px;
}
input[type='submit']{
  background: $logo_green;
  color: white;
  font-weight: 500;
  height: 41px;
  &:hover{
    background: darken($logo_green, 20%);
    color: darken(#fff, 20%);
  }
}
