html, body, #layout, #layout .row:first-child,  #main{
  height: 100%;
}

body{
  padding-top: 50px;
}

#layout{
  padding-top: 20px;
}

#search-sidebar{
  min-height: 150px;
}

#main{
  min-height: 200%;
}

.search-container{
  background-color: #e7e7e7;
  margin-left: -15px;
  padding: 12px;
  width: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 992px){
  .search-container {
    position: fixed;
    width: 213px;
  }
}
@media (min-width: 1200px){
  .search-container {
    width: 263px;
  }
}
