#logo{
  background: image_url('adeca-logo.JPG');
  height: 50px;
  text-indent: -99999px;
  width: 200px;
}

#main-nav{
  float: right;
}

header.navbar{
  border-bottom: 1px solid #ccc;
  margin: 0;
}
