// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.properties-list{
  list-style-type: none;
  padding: 0;
  a{
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    &:hover{
      background-color: transparent;
      border-color: #000;
      opacity: .7;
    }
  }
  li{
    border-top: 1px solid #ccc;
    padding: 12px;
    &:hover{
      background: #ccc;
    }
  }
}

.property-properties-table{
  display: inline-block;
  p{
    margin: 0;
  }
  th{
    text-align: right;
    padding-right: 10px;
  }
}

.cycle-pager{
  margin-top: 5px;
  text-align: center;
  width: 600px;
  a{
    display: inline-block;
  }
  img{
    height: 50px !important;
    margin: 0 1px;
    width: 50px !important;
  }
}
