%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#logo.navbar-brand{href: "../"} Adeca
    %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
      %ul#main-nav.nav.navbar-nav
        %li
          = link_to t('active_record.models.property', count: 2), properties_path
        %li
          = link_to t('contact_us'), static_page_path(static_page: 'contact_us')
        %li
          = link_to t('services'), static_page_path(static_page: 'about_us')
